<p>
  edit-reg works!
</p>
<div>
	<p>A Registration Process is already active<br>
	Want to stop that Registration Process ?</p>
</div>
<button type="button" class="btn btn-success btn-s" (click)="stopRegistration()">
Stop Registration
</button>
<br><br>
<h4>Edit the data</h4>
<form [formGroup]="editRegForm" (ngSubmit)="onSubmit()">
	<div class="form-group">
		<label for="year">Year</label><br>
		<input type="text" formControlName="year" class="form-control"/>
	    <div *ngIf="submitted && f.year.errors" class="invalid-feedback">
        	<div *ngIf="f.year.errors.required">Year is required</div>
        </div>
	</div><br>
	<div class="form-group">
		<select id="semester" formControlName="semester">
             <option *ngFor="let c of semester" [ngValue]="c">{{ c }}</option>
        </select>
	</div><br>
	<div class="form-group">
		<label for="p1startDate">Phase I start date </label>
		<input type="date" formControlName="p1startDate">
	</div><br>
	<div class="form-group">
		<label for="p1endDate">Phase I end date </label>
		<input type="date" formControlName="p1endDate">
	</div><br>
	<div class="form-group">
		<label for="p2startDate">Phase II start date </label>
		<input type="date" formControlName="p2startDate">
	</div><br>
	<div class="form-group">
		<label for="endDate">Phase II end date </label>
		<input type="date" formControlName="endDate">
	</div><br>
	<button [disabled]="loading">Start Registration</button>
</form>
