<p>
  add-students-record works!
</p>
<form [formGroup]="docForm">
	<div class="form-group">
		<label for="year">Enrollment Year</label><br>
		<input type="text" formControlName="year" class="form-control"/>
	    <div *ngIf="submitted && f.year.errors" class="invalid-feedback">
        	<div *ngIf="f.year.errors.required">Enrollment year is required</div>
        </div>
	</div><br>
	<label for ="dept">Department</label>
	<div class="form-group">
		<select id="dept" formControlName="dept">
             <option *ngFor="let c of departments" [ngValue]="c">{{ c }}</option>
        </select>
	</div>
	<label for ="course">Course</label>
	<div class="form-group">
		<select id="course" formControlName="course">
             <option *ngFor="let c of courses" [ngValue]="c">{{ c }}</option>
        </select>
	</div>
</form>
<br>
<input id="doc" type="file" />
<button type="button" class="btn btn-success btn-s" (click)="hostelupload()">
Upload
</button>
