<p>
  add-new-user works!
</p>
<form [formGroup]="newUserForm" (ngSubmit)="onSubmit()">
	<div class="form-group">
		<label for="username">Username</label><br>
		<input type="text" formControlName="username" class="form-control"/>
	    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        	<div *ngIf="f.username.errors.required">Usermame is required</div>
        </div>
	</div>
	<div class="form-group">
		<label for="email">Email</label><br>
		<input type="email" formControlName="email" class="form-control"/>
		 <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
        </div>
	</div>
	<br>
	<div class="form-group">
		<select id="type" formControlName="userType">
             <option *ngFor="let c of userTypes" [ngValue]="c">{{ c }}</option>
        </select>
	</div>
    <br>
    <div class="form-group">
		<label for="org">Library/Hostel</label><br>
		<input type="org" formControlName="org" class="form-control"/>
		 <div *ngIf="submitted && f.org.errors" class="invalid-feedback">
            <div *ngIf="f.org.errors.required">Field is required</div>
        </div>
	</div>
	<br>
	<button [disabled]="loading">Add User</button>
</form>
